/* navbar class */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
  
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}
.navbar a:hover {
    background-color: #555;
}
.navbar a.active {
    background-color: #ca5d0a;
    color: rgb(247, 215, 12);
}
.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navbar li {
    display: inline;
    margin-right: 20px;
}
.navbar li:last-child {
    margin-right: 0;
}
/* navbar class end */

/* Class Theme-flip-icon */
.theme-flip-icon {
    display: flex;
    justify-content: right;
    align-items: right;
    margin: 20px 0;
}
.theme-flip-icon :hover {
    transform: rotateY(180deg);
    transition: transform 0.6s;
    transform-style: preserve-3d;
    perspective: 1000px;
}
@keyframes flip {
    0% { transform: rotateY(0deg); }
    50% { transform: rotateY(180deg); }
    100% { transform: rotateY(360deg); }
}
/* Class Theme-flip-icon end */

/* Within nav class bar-pebar */
.nav-bar-pebar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.nav-bar-pebar img {
    width: 60px;
    height: 50px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}
.nav-bar-pebar h2 {
    font-size: 20px;
    margin: 10px 0;
}
.nav-bar-pebar p {
    font-size: 14px;
    line-height: 1.6;
    margin: 10px 0;
}
.nav-bar-pebar a {
    color: #d99009;
    text-decoration: none;
}
.nav-bar-pebar a:hover {
    text-decoration: underline;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}
.nav-bar-pebar .button {
    background-color: #d59304;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.nav-bar-pebar .button:hover {
    background-color: #555;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    border: 1px solid #d59304;
}
/* Class nav-bar-pebar end */